<h3 *ngIf="cars; else noCar">{{title}}</h3>

<div class="row">
  <ng-template #noCar>
    Bu Marka Araç Yoktur.
  </ng-template>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Araba Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
      placeholder="arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} aradınız.
  </div>
  
  <div *ngIf="dataLoaded==true" class="container">
    <div class="row">
      <div class="col-md-3">
        <select [(ngModel)]="currentBrand" class="form-select p-1 mb-2 bg-primary text-white" aria-label="Default select example">
          <option value="0" selected>Markalar</option>
          <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <select [(ngModel)]="currentColor" class="form-select p-1 mb-2 bg-primary text-white" aria-label="Default select example">
          <option value="0" selected>Renkler</option>
          <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
        </select>
      </div>
      <div class="col-md-1" >
        <button (click)="carsFilterByBrandAndColor(currentBrand,currentColor)" class="btn btn-primary p-1">Seç</button>
      </div>
      <div class="col-md-2" >
        <button (click)="clearFilter()" class="btn btn-primary p-1">Seçimi Temizle</button>
      </div>
    </div>
  </div>

  <br> <br>


  <div *ngFor="let car of carDetails | filterPipe:filterText" class="card" style="width: 18rem;">
    <img [src]="car.carImages.length > 0 ? imageUrl + car.carImages[0] : ''" class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">{{car.carName}}</h5>
      <p class="card-text">{{car.brandName}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Model : {{car.modelYear}}</li>
      <li class="list-group-item">Günlük Kiralama Fiyatı : {{car.dailyPrice |currency: "TRY":"symbol-narrow":"1.2-2"}}
      </li>

    </ul>
    <div class="card-body">
      <a routerLink="/cars/car-detail/{{car.id}}" (click)="getCarDetailsById" class="btn btn-primary">Detay</a>
    </div>
  </div>
</div>
