<div *ngIf="currentCar">
  <h1>{{ currentCar.carName }}</h1>
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button *ngFor="let image of currentCar.carImages; let i = index" type="button"
            data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let image of currentCar.carImages; let i = index" class="carousel-item active"
            [class.active]="i === 0">
            <img [src]="imageUrl + image" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka:   {{currentCar.brandName}}</li>
        <li class="list-group-item">Renk:   {{currentCar.colorName}}</li>
        <li class="list-group-item">Model Yılı:   {{currentCar.modelYear}}</li>
        <li class="list-group-item">Fiyat:   {{currentCar.dailyPrice}}</li>
        
      </ul>
    </div>
    
  </div>
  <br>,<br>
  
<div class="row">
   <div class="col-md-2">
      <button class="btn btn-primary" (click)="rentalAdd(currentCar)">
        Kirala
      </button>
   </div>
 </div>